/* layout */

body {
    font-family: 'Ubuntu',sans-serif;
    margin: 0;
    padding: 0 auto;
}

h1, h2 {
        font-size: 2.5rem;
        margin: 0;
        padding: 1em auto;
}

/* Header */
header {
    background: rgb(227, 243, 243);
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1024px;
}

.container-nav {
        display: flex;
        justify-content: space-around;
}


.b-title {
    text-align: center;
    color: #143774;
    font-family: 'Lora', serif;
    font-size: 3.375rem;
}

.b-subtitle {
    color: #1792D2;
    font-size: 0.75rem;
    font-weight: 700;
    margin: 0.5em 0;
    font-family: 'Ubuntu',sans-serif;
}


nav ul {
    display: flex;
    /* justify-content: flex-end; */
    padding: 0;
    /* 沒有margin 時 會導致 li 項目前都靠在最上方，雖有用align or justify-contenet 但作用在 UL身上沒有用 ，不知還有沒有其他解法 */

    margin: 2rem 0;
    list-style: none;
  

}

nav li {
    /* border: 2px magenta solid;*/
    margin: 0 1rem;  

}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: 0.25em 0;
}

a:hover, 
a:focus {
        color: #1792d2;
        
}

nav a.focus-page {
    border-bottom: 2px gray  solid;
}


/* main-blog */

    section {
        display: flex;
        color: #707070;
    }

    .main-blog {
            width: 45%;
            margin: 0 1rem 0 10%;
            padding: 0 1rem;
            font-family: 'Ubuntu',sans-serif;
            font-weight: 300;
    }
    .main-feature-post {
            display:flex;
            flex-direction: column;
            border-bottom: 2px #707070 solid;
            margin: 0 auto;  
            padding-bottom: 0.5em;
    }

    .mfp-title {
            font-family:'Lora',serif;
            order: 3;
            margin: -0.75em 0 0 0;

    }

    .mfp-info {
            font-size: 0.875rem;
            margin-top: 0;
            order: 2;
            text-align: right;
    }

    .mfp-image{
            max-width: 100%;
            display: block;
            order: 1;
            margin: 0;
    }

    .mfp-text {
            font-size: 1.125 rem;
            margin-bottom: 0.25em; 
            order: 4;
    }

    .mfp-readmore {
            font-size: 0.875rem;
            font-weight: 700;
            color: #1792D2;
            order: 5
    }
    

    .mfp-readmore>a:hover,a:focus 
    {  
        text-decoration: none;
        color: #1792d2;
    }

    /* 主區 下方三篇文章 */
    .main-recent-post {
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;

    }
    .main-recent-main {
        width: 68%;
        order: 2;

    }
    .main-recent-secondary {
        width: 30%;
        display: flex;
        flex-direction: column;
        order: 1;
        /* justify-content: space-between; */
    }
    .mrp-image {
            max-width: 100%;
            min-height: 220px;
            display:block;
            object-fit: cover;
    }

    .mrp-title {
            margin: 0 auto;
            padding: 0;
            font-family: '思源宋體',sans-serif;
            font-size: 1.5rem;
    }

/* asid-blog */

    .aside-blog {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 0 2rem 0 1rem;
        padding: 0 1rem;
        text-align: center;
        min-width: 200px;
    }
    .aside-aboutme,
    .aside-recent-post {
            border: 0.75rem rgb(227, 243, 243) solid;
            margin: 0.75rem 0;
            padding: 0.25rem 0.5rem;
    }

    .aside-aboutme-image,
    .aside-recent-image {
            display: block;
            max-width: 100%;
    }

    .aside-recent-image+p {
            padding-bottom: 2em;
    }
    .aside-recent-text {
        border-bottom: 1px #707070 solid;
    }

    .aside-recent-text:last-child {
        border-bottom: 0;
        padding-bottom: 0.25em;
    }

/* Footer */
    footer {
        background:rgb(227, 243, 243);;
        color: #143774;
        text-align: center;
        padding: 0.25em;
    }
/* for Mobile Screen */

@media screen and (max-width: 760px) {
    .container {
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }

    nav ul {
        /* display: inline-block */ /* 使用inline-block連同parent 中的div/ul 都會被算進去空間 造成 外觀看起來留很多空*/
        display: inline;
        padding: 0.5em 0;
    }

    nav li {
        padding: 0.3em 0; 
        text-align: center;
    }

    section {
        flex-direction: column;
        margin: 0 1rem;
    }
    .main-blog,
    .aside-blog {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }

    .main-recent-post {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    
    .main-recent-main,
    .main-recent-secondary {
        width: 100%;
    }

    .mfp-image {
        margin-bottom: 0.5em;
    }

    .mfp-info {
        padding: 0;
        margin-bottom: 0.3rem;
        text-align: right;
    }
    .mfp-title {
        margin: 0.25em auto;
    }
}
