<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static',filename='css/styles.css') }}">
     <link href="https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet"> 
    <title>Living the simple life</title>
</head>
<body>
<header>
<div class="container container-nav">
        <div class="b-title">
            <h1>Living the simple life</h1>
            <p class="b-subtitle">A BLOG EXPLORING MINIMALISM IN LIFE</p>
        </div>
        <nav>   
            <ul>
                <li><a href="#" class="focus-page">HOME</a></li> 
                <li><a href="#">About Me</a></li>
                <li><a href="#">Recent Post</a></li>
            </ul>
        </nav>
</div>
</header>

</body>
</html>
